/* DEBUG */
.debug{
    border: 1px dashed red;
    padding: 5px;
    width: 100%;
}

/* NAV */
.navbar{
    background-color: rgba(44, 62, 80, 1);
}

.start_boots{
    padding: 10px 15px;
}

/* HEADER */
#header{
    background-color: rgba(26, 188, 156, 1);
    color: white;
}

.card_img{
    width: 200px;
}

.line{
    width: 50px;
    height: 3px;
}

.ltt_star{
    width: 40px;
    text-align: center;
}

/* PORTFOLIO */
#portfolio{
    color: rgba(44, 62, 80, 1);
}

.illustration{
    height: 150px;
    width: 100%;
    background-color: rgba(44, 62, 80, 1);
}

/* ABOUT */
#about{
    background-color: rgba(26, 188, 156, 1);
    color: white;
}

/* CONTACT ME */
#contact_me{
    color: rgba(44, 62, 80, 1);
}

#contact_me .container{
    width: 300px;
}

/* LOCATION FOOTER */
#location{
    background-color: rgba(44, 62, 80, 1);
    color: white;
}
