/* DEBUG */
.debug{
    border: 1px dashed red;
    padding: 5px;
    width: 100%;
}

/* NAV */
.nav_bar{
    background-color: rgba(44, 62, 80, 1);
    padding: 1.3rem;
}

.start_boots{
    padding: 10px 15px;
}

/* HEADER */
#header{
    background-color: rgba(26, 188, 156, 1);
    color: white;
}

.card_img{
    /* debug */
    width: 200px;
    height: 250px;
    background-color: white;
}

.line{
    width: 50px;
}

/* PORTFOLIO */
#portfolio{
    color: rgba(44, 62, 80, 1);
}

.illustration{
    height: 150px;
    width: 100%;
    background-color: rgba(44, 62, 80, 1);
}

/* ABOUT */
#about{
    background-color: rgba(26, 188, 156, 1);
    color: white;
}

/* CONTACT ME */
#contact_me .container{
    width: 300px;
}

/* LOCATION FOOTER */
#location{
    background-color: rgba(44, 62, 80, 1);
    color: white;
}
